.greetingTransparent {
    height: 100vh;
    top: 0;
    display: block;
  }
  
.greeting h2 {
    margin: 0;
    font-size: 7vw;
}

.greeting p {
    color: var(--color-main);
    font-size: 5vw;
}

.greeting {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: transparent;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ctaButton {
  background-color: var(--color-main);
  color: var(--color-background) !important;
  font-weight: bolder;
  border: 2px solid;
  border-color: var(--color-main) !important;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.5s ease;
}

.downloadButton {
  background-color: var(--color-background);
  color: var(--color-main) !important;
  font-weight: bolder;
  border: 2px solid;
  border-color: var(--color-main);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.5s ease;
}
  
.ctaButton:hover, .ctaButton:active, .ctaButton:focus {
    background-color: var(--color-background) !important;
    color: var(--color-main) !important;
}

.downloadButton:hover, .downloadButton:active, .downloadButton:focus {
  background-color: var(--color-main) !important;
  color: var(--color-background) !important;
}

.buttonWrapper {
  display: flex;
  width: clamp(350px, 80vw, 400px);
  justify-content: space-around;
}