.overflowContainer {
  background-color: var(--color-background);
}

.showoff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.horizontalShowoff h2 {
  margin-left: 5vw;
  margin-right: 5vw;
}

.horizontalShowoff h2, .showoff h2 {
  font-size: 6vw;
}

.horizontalShowoff h2 span, .showoff h2 span {
  font-size: 4vw;
}

.section__left {
  display: flex;
}

.section__left h2 {
  align-self: flex-start;
}

.section__right {
  display: flex;
}

.section__right h2 {
  align-self: flex-end;
}