.overflowContainer {
  background-color: var(--color-background);
}

.showoff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.view {
  margin-left: 5vw;
  margin-right: 5vw;
}

.view h2, .showoff h2 {
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 6vw;
  margin-bottom: 40px;
  margin-top: 40px;
}

.section__left {
  display: flex;
}

.section__left h2 {
  align-self: flex-start;
}

.section__right {
  display: flex;
}

.section__right h2 {
  align-self: flex-end;
}