
.container {
  width: 300vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.panel {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
}