.container {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
 
.imgContainer {
    position: relative;
    width: clamp(200px, 400px, 70vw);
    height: clamp(200px, 400px, 70vw);
}

.container > div > img {
    width: clamp(200px, 400px, 70vw);
    height: clamp(200px, 400px, 70vw);
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .container > div {
        width: 50%;
    }

    .viewContainer {
        width: 80%;
    }
}